<div class="row">
  <div class="col-md-12">
    <fieldset class="form-group">
      <div class="row">
        <div class="col-md-4">
          <app-form-radiobox nome="radioLimitTecnica" [valor]="1" [(model)]="limitacaoTecnica.Classificacao" text="Meteorismo intestinal"></app-form-radiobox>
        </div>
        <div class="col-md-4">
          <app-form-radiobox nome="radioLimitTecnica" [valor]="2" [(model)]="limitacaoTecnica.Classificacao" text="Biotipo (obesidade)"></app-form-radiobox>
        </div>
        <div class="col-md-4">
          <app-form-radiobox nome="radioLimitTecnica" [valor]="3" [(model)]="limitacaoTecnica.Classificacao" text="Meteorismo + Biotipo"></app-form-radiobox>
        </div>
      </div>
    </fieldset>
  </div>
</div>